.container {
	background: rgba(255, 255, 255, 0.9);
	bottom: 0;
	padding: 20px;
	position: fixed;
	top: 40px;
	width: 200px;
	transition-property: left;
	transition-duration: .5s;
	will-change: left;
}

.open {
	@extend .container;
	left: 0;
}

.closed {
	@extend .container;
	left: -240px;
}
