.photosPage {
	margin: 0 auto;
	padding: 40px 0 0 0;
	width: 60%;

	@media (max-width: 500px) {
		width: 100%;
	}

	img {
		display: block;
		padding: 0 0 80px 0;
		width: 100%;

		@media (max-width: 500px) {
			padding-bottom: 0;
		}
	}
}
