.navigation {
	bottom: 0;
	left: 0;
	position: fixed;
	right: auto;
	top: 0;
	width: 200px;

	h1 {
		color: #333333;
		display: block;
		font-family: Cardo, serif;
		font-size: 36px;
		font-weight: lighter;
		margin: 0;
		padding: 40px 20px;
		width: 100%;
		z-index: -1
	}

	ul {
		list-style-type: none;
		bottom: 0;
		display: block;
		font-family: Arial;
		font-size: 16px;
		margin: 0;
		padding: 0 20px;
		width: 100%;
	}

	li {
		margin: 0;
		padding: 0;

		a {
			color: #000;
			display: block;
			padding: 5px 0;
			text-decoration: none;
		}

		a:hover, a:active {
			text-decoration: underline;
		}
	}
}
