.contactPage {
	margin: 0 auto;
	//width: 50%;

	input, textarea {
		background: #ffffff;
		border: 1px solid #000000;
		border-radius: 0;
		color: #000000;
		font-size: 16px;
		margin: 10px 0;
		outline: none;
		padding: 10px;
		width: 100%;
	}

	textarea {
		height: 200px;
		resize: vertical;
	}

	input[name="_gotcha"] {
		display: none;
	}

	label {
		font-size: 16px;
		font-family: arial;
	}

	input[type="submit"]:hover {
		background: #000000;
		color: #ffffff;
		cursor: pointer;
	}
}
