.hamburgerButton {
	display: block;
	left: 20px;
	position: fixed;
	top: 20px;
}

.navigation {
	//background: rgba(#ffffff, 0.8);
	bottom: 0;
	left: 0;
	padding: 0 20px;
	position: absolute;
	right: auto;
	top: 0;
	width: 200px;

	h1 {
		color: #000000;
		display: block;
		font-family: Cardo, serif;
		font-size: 36px;
		font-weight: lighter;
		margin: 0;
		padding: 40px 0;
		width: 100%;
		z-index: -1
	}
}

.opened {
	display: block;
}

.closed {
	display: none;
}
