.pages {
	will-change: filter;
	width: 70%;
	padding-right: 15%;
	position: absolute;
	right: 0;

	@media (max-width: 768px) {
		margin: 0 auto;
		position: relative;
		right: auto;
	}

	@media (max-width: 414px) {
		margin: 0 auto;
		position: relative;
		right: auto;
		width: 100%;
	}

	@media (max-width: 1200px) {
		padding-right: 0;
		width: 80%;
	}
}

.blur {
	filter: blur(25px);
}
