.navigation {
	bottom: 0;
	left: 0;
	padding: 0 20px;
	position: absolute;
	right: auto;
	top: 0;
	width: 200px;

	h1 {
		color: #000000;
		display: block;
		font-family: Cardo, serif;
		font-size: 36px;
		font-weight: lighter;
		margin: 0;
		padding: 40px 0;
		width: 100%;
		z-index: -1
	}
}

.pages {
	will-change: filter;
}

.blur {
	filter: blur(25px);
}
