.bookNowButton {
	padding: 40px 0 80px 0;

	a {
		border: 1px solid #333333;
		color: #333333;
		display: block;
		font-family: Cardo, serif;
		font-size: 26px;
		margin: 0 auto;
		padding: 18px;
		text-align: center;
		text-decoration: none;
		width: 140px;
	}

	a:hover {
		background: #333333;
		color: #ffffff;
	}
}
