.scroller {
	width: 18%;

	h1 {
		color: #000000;
		display: block;
		font-family: Cardo, serif;
		font-size: 36px;
		font-weight: lighter;
		margin: 0;
		padding: 40px 0;
		width: 200px;
		z-index: -1
	}

	@media (max-width: 1200px) {
		width: 20%;
	}
}

.inside {
	padding: 0 20px;
	width: auto;
}

.alignBottom {
	bottom: 0;
	position: fixed;
}

.scroll {
	position: absolute;
}

.alignTop {
	position: fixed;
	top: 0;
}
